.noselect {
}

.search-bar {
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 100%;
  font-size: 16pt;
  margin-top: 1pt;
}

.search-button {
  width: 94px;
  /*margin: 0;*/

  font-style: normal;
  font-weight: bold;
  font-size: 18pt;

  color: #b56969;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.search-block {
  font-family: Roboto;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.search-block-a {
  margin-top: 1px;
  width: 100%;
  margin-right: 3px;
}

.search-block-b {
  float: right;
}
